.animate,
.animate-child {
  opacity: 0;
  transition: all 1s ease-in-out;

  &.on {
    opacity: 1;
  }
}

.drop-in {
  transform: translate(0,10px);

  &.on {
    transform: translate(0,0);
  }
}

//
@keyframes pulseColor {
  0% {
    background: $grey-medium;
    transform: translate3d(0,0,0);
  }

  50% {
    background: $grey-dark;
    transform: translate3d(0,-2px,0);
  }

  100% {
    background: $grey-medium;
    transform: translate3d(0,0,0);
  }
}

//
@keyframes pulseSize {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

//
@keyframes scaleIn {
  0% {
    transform: scale(0);
    transform-origin: bottom left;
  }

  100% {
    transform: scale(1);
    transform-origin: bottom left;
  }
}

//
@keyframes slideInBottom {
  0% {
    opacity: 0;
    transform: translate(0,20px);
  }

  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

//
@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translate(0,-20px);
  }

  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}
