*,
:after,
:before {
  box-sizing: inherit;
  position: relative;
}

:focus {
  outline: 0;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
}
