<title>Chatbot</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="build/styles.css" rel="stylesheet">

<body>
  <main class="animate">
    <section class="chat-container // animate-child drop-in">
      <div class="header">
        <div class="logo">
          <img src="img/pwc-logo.png">
        </div>
        <div class="portrait">
          <span class="animate-child drop-in">You are now speaking with <b class="animate-child drop-in">Sophie</b></span>
          <img src="img/sophie.png" class="animate-child drop-in">
        </div>
      </div>
      <div id="response-container">
        <div id="response">

        </div>
        <div id="loading-container">
          <div class="loading-bubble">
            <ul>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="input-container">
        <input type="text" id="chat" placeholder="type a message">
        <button id="submit" class="animate-child drop-in">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/>
          </svg>
        </button>
      </div>
    </section>


  </main>
</body>
<script src="build/master.js"></script>