@import url( 'https://fonts.googleapis.com/css?family=Roboto:300,400');
@import 'general/reset';
@import 'general/util';
@import 'general/variables';
@import 'general/transitions';
@import 'general/animations';

body {
  font-size: 1.6rem;
  background: linear-gradient(-15deg, $primary, $secondary);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

main {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  z-index: 2;
}

.logo {
  display: flex;
  align-items: center;

  img {
    height: 40px;
    width: auto;
  }
}

.portrait {
  display: flex;
  align-items: center;

  img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid $secondary;
  }

  span {
    flex-grow: 1;
    text-align: right;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: $grey-dark;
    top: 2px;
  }

  b {
    display: block;
    font-weight: 400;
    font-size: 2rem;
    text-transform: none;
    color: $secondary;
  }
}

.chat-container {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  max-width: 450px;
  max-height: 800px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

input[type=text] {
  width: 100%;
  padding: 0 70px 0 20px;
  background: $grey-ultralight;
  border: none;
  line-height: 50px;
  font-size: 2rem;
  display: inline-block;
  width: 100%;
  margin-right: -40px;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#submit {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: none;
  background: linear-gradient($secondary, $primary);
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;

  &:hover {
    transform: rotate(-30deg);
  }

  svg {
    position: relative;
    left: 1px;
    fill: #fff;
    margin: auto;
  }
}

#response-container {
  background: #fff;
  padding: 20px 30px;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#response {
  width: 100%;

  > div {
    margin-bottom: 20px;

    > div {
      margin-top: 5px;
    }

    > div:last-child span {
      &:after,
      &:before {
        content: "";
      }
    }

    span {
      padding: 14px 20px;
      display: inline-block;
      border-radius: 20px;
      color: #fff;
      line-height: 1.5;

      &:after,
      &:before {
        display: block;
        border-radius: 40px;
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: -6px;
      }

      &:before {
        background: inherit;
      }

      &:after {
        background: #fff;
        height: 80px;
      }
    }

    &.bot {
      padding-right: 60px;

      span {
        background: $secondary;
        animation: slideInTop .5s 1 ease-in-out;

        &:before {
          left: -20px;
        }

        &:after {
          left: -40px;
        }
      }
    }

    &.user {
      text-align: right;
      padding-left: 60px;

      span {
        text-align: left;
        background: $primary;
        animation: slideInBottom .5s 1 ease-in-out;

        &:before {
          right: -20px;
        }

        &:after {
          right: -40px;
        }
      }
    }
  }
}

#loading-container {
  display: none;
  width: 100%;
  padding: 0 0 10px 10px;

  &.show {
    display: block;
  }
}

.loading-bubble {
  height: 40px;
  border-radius: 30px;
  padding: 0 10px;
  background: $grey-ultralight;
  display: inline-block;

  .show & {
    animation: scaleIn .2s 1 ease-in-out;
  }

  &:after,
  &:before {
    content: "";
    background: $grey-ultralight;
    border-radius: 100%;
    position: absolute;
    animation: pulseSize 2s linear infinite;
  }

  &:before {
    left: -2px;
    bottom: -2px;
    width: 16px;
    height: 16px;
  }

  &:after {
    left: -6px;
    bottom: -6px;
    width: 8px;
    height: 8px;
    animation-delay: .4s;
  }

  ul {
    top: 10px;
  }

  li {
    list-style: none;
    width: 10px;
    height: 10px;
    background: $grey-medium;
    display: inline-block;
    margin: 0 1px;
    border-radius: 100%;
    vertical-align: middle;
    animation: pulseColor 1s linear infinite;

    &:nth-child(2) {
      animation-delay: .2s;
    }

    &:nth-child(3) {
      animation-delay: .4s;
    }
  }
}
